code {
  padding: .4rem 1rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #ececec;
  color:#000;
  border: 1px solid #dddddd;
  border-radius:3px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  max-width:100%;
  overflow:auto;
  border-radius:3px;  
}
